@charset "UTF-8";
@import url(./fonts.scss);
.divider {
  height: 1px;
  background-color: #fbf9f6;
  width: 80%;
}

.loader {
  margin: auto;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

.bellefair-regular {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
}

@supports (-webkit-touch-callout: none) {
  button {
    color: #000;
    border-color: #000;
  }
}
.App {
  background-color: #fbf9f6;
}
@media (max-width: 450px) {
  .App {
    text-align: center;
  }
  .App .music {
    position: fixed; /* Para que permanezca en su posición al hacer scroll */
    bottom: 20px; /* Distancia desde la parte inferior de la ventana */
    right: 20px; /* Distancia desde el lado derecho de la ventana */
    width: 35px; /* Anchura del botón */
    height: 35px; /* Altura del botón, igual a la anchura para que sea circular */
    border: 1px solid #fff;
    border-radius: 50%; /* Hace que el botón sea circular */
    background-color: #f2eadf; /* Color de fondo (puedes personalizarlo) */
    color: #fff; /* Color del texto o icono */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para darle un efecto flotante */
    font-size: 12px; /* Tamaño del texto o icono */
    display: flex; /* Centra el contenido dentro del botón */
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    z-index: 1000; /* Asegura que quede por encima de otros elementos */
    transition: transform 0.2s ease-in-out; /* Animación al pasar el mouse */
  }
  .App section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  .App section.visible {
    opacity: 1;
    transform: translateY(0);
  }
  .App #home {
    min-width: 100vw;
    min-height: 70vh;
    background-image: url("../assets/img/1.png");
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
  }
  .App #home h1 {
    margin: 0;
    font-size: 2rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFadeIn 1.5s ease-out forwards;
    text-shadow: 1px 1px 2px black;
  }
  .App #home .divider {
    -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  }
  .App #home img {
    width: 50%;
    height: auto;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFadeIn 1.5s ease-out forwards;
  }
  .App #home h2 {
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFadeIn 1.5s ease-out forwards;
    text-shadow: 1px 1px 2px black;
  }
  .App #contador {
    text-align: center;
    font-family: "Cinzel", sans-serif;
  }
  .App #contador .contador {
    justify-content: space-around;
  }
  .App #contador .contador .numero {
    padding: 1.3rem;
    margin: 10px;
    border-radius: 5rem;
    letter-spacing: 0.2rem;
    border: 1px solid #000;
  }
  .App #contador .btn-container {
    display: flex;
    justify-content: space-around;
  }
  .App #contador button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    background-color: #fbf9f6;
    border-radius: 1rem;
    padding: 0.7rem;
  }
  .App #contador button img {
    height: 1rem;
    margin-right: 5px;
    width: auto;
  }
  .App #cuando-donde {
    padding: 10px;
    padding-top: 40px;
    text-align: center;
  }
  .App #cuando-donde img {
    width: 90%;
    height: auto;
  }
  .App #cuando-donde .card {
    padding: 10px;
    -webkit-box-shadow: 5px 5px 20px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 20px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 20px -12px rgba(0, 0, 0, 0.75);
  }
  .App #cuando-donde .card svg {
    margin-right: 5px;
  }
  .App #cuando-donde .card button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fbf9f6;
    border-radius: 1rem;
    padding: 0.7rem;
  }
  .App #cuando-donde .card .card-name {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }
  .App #cuando-donde .card .content {
    color: #666565;
    padding-left: 15px;
    padding-right: 15px;
  }
  .App #codigo-vestimenta .img-container {
    width: 100%;
    justify-content: center;
  }
  .App #codigo-vestimenta img {
    max-width: 20%;
    height: auto;
  }
  .App #codigo-vestimenta button {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #fbf9f6;
    border-radius: 1rem;
    padding: 0.7rem;
    font-size: 1rem;
  }
  .App #codigo-vestimenta button svg {
    margin-right: 5px;
  }
  .App #galeria .img-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 10px 15px;
    gap: 8px;
  }
  .App #galeria .img-container img {
    width: 100%;
    height: auto;
  }
  .App #mesa-regalos .cuenta-banco {
    margin: 0 15px;
    padding: 5px 10px;
    border: #929fa4;
    border-radius: 20px;
    background-color: #f2eadf;
    color: #000;
  }
  .App #mesa-regalos button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1.2rem;
    color: #000;
    background-color: #f2eadf;
    margin: 15px;
    padding: 15px;
    width: 90%;
    height: auto;
    border: none;
    border-radius: 100px;
  }
  .App #mesa-regalos button img {
    height: 40px;
    width: auto;
  }
  .App #confirmacion .white {
    color: #fbf9f6;
    background-color: #fbf9f6;
    border: none;
  }
  .App #confirmacion .form-container {
    border: 2px solid #000;
    margin: 10px 20px;
    border-radius: 20px;
    padding: 10px;
  }
  .App #confirmacion .form-container .confirm-btn {
    background-color: #fbf9f6;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.2rem;
  }
  .App #confirmacion .form-container textarea {
    background-color: #fbf9f6;
    border: 1px solid #000;
    border-radius: 10px;
  }
  .App #confirmacion .boletos-counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .App #confirmacion .boletos-counter label {
    font-size: 2rem;
  }
  .App #confirmacion .boletos-counter button {
    padding: 10px;
    border-radius: 30px;
  }
  .App #despedida {
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
  .App .desktop-only {
    display: none;
  }
}
@media (min-width: 451px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    opacity: 0;
    transform: translateY(-50px);
    animation: slideDownFadeIn 1.5s ease-out forwards;
  }
  .App img {
    width: 40%;
    height: auto;
  }
  .App .mobile-only {
    display: none;
  }
}

@keyframes slideDownFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.px-md {
  padding-right: 1rem;
  padding-left: 1rem;
}

.gap-md {
  gap: 1rem;
}

.gap-sm {
  gap: 0.5rem;
}

/*# sourceMappingURL=App.css.map */
